.body_backgorund 
{
    background-image:url(BirthdayImage.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   background-color: white;
   border-style: ridge;
   border-color: darkviolet;
}
#head{
    font-family: chalkboard;
    font-weight: bolder;
    color:blue;
}

